extends layout

block content
  h1= title
  p Welcome to #{title}

  if (user)
    p Hello #{user.first_name}
    form(method='POST', action='/post')
      label(for='postarea') Post: 
      input#postarea(type="textarea" name="postarea" required=true)
      button(type="submit") Send
      <br>
      <br>
  else

    
      a(href="/login") Login
      <br>
      <br>
      a(href="/register") Register