doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .header
      p Members Only (Back End Only App)
      p This app is not about styling and all. It's about auth process.
  
  
  block content
