extends layout

block content
  if (msg==='registersuccessful')
    p.msg Register is successful, you can log in now.
  if (msg==='loginfailed')
    p.msg Either username or password is wrong.
  .login
    .nav
      a(href="/register") Register
      a(href="/") Home

  form(method='POST', action='')
    .tablegroup
      label(for='username') Username:
      input#username(type="text" name="username" required=true)
    .tablegroup
      label(for='password') Password:
      input#password(type="password" name="password" required=true)
      button(type="submit") Login

  if (mesaj)
    p #{mesaj}
