extends layout

block content

  if (!currentUser)
    .login
      .nav
        a(href="/login") Login
        a(href="/") Home
    form(method='POST' action='')
      .tablegroup2
        label(for='firstName') First Name: 
        input#firstName(type="text" name="firstName" required=true)
      .tablegroup2
        label(for='lastName') Last Name:
        input#lastName(type="text" name="lastName" required=true)
      .tablegroup2
        label(for='username') Username:
        input#username(type="text" name="username" required=true)
      .tablegroup2
        label(for='password') Password:
        input#password(type="password" name="password" required=true)
        button(type="submit") Sign Up

  else
    .login
      .nav
        a(href="/logout") Log out
        a(href="/") Home  
      p.register you are already signed up! 
        a(href="/") Go Home

  

