extends layout

block content
  .login
    if (currentUser)
      .nav
        a(href="/logout") Log Out
      
      if (msg)
        p.secrethello Maybe you're not ready yet.
      else
        p.secrethello I don't think you can find this '<em>top secret</em>' key that easy.
      form(method='POST', action='/vault')
        .tablegroup
          label(for='secret')
        input#secret(type="text" name="secret" required=true)
        button(type='submit').btnsecret Enter
        
    else
      .nav
        a(href="/register") Register
        a(href="/login") Login
      p.secrethello You're not allowed to be here.

    

  if (mesaj)
    p #{mesaj}
